<% if cookies[:saved_subscriber] %>
  Thanks for signin up!
<% else %>
  <h1>Sign up for my newsletter here!</h1>
  <%= form_for @subscriber do |f| %>

    <%= f.email_field :email, placeholder: 'Email' %>

    <%= f.submit %>

  <% end %>
<% end %>